@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

header input::placeholder {
  @apply text-[11px] leading-9 font-medium text-gray-primary;
}

header input.search-bar:focus {
  @apply outline-0 border-0;
}

header input.search-bar-mobile:focus {
  @apply pl-[40px] outline-0 border-0;
}

header input.search-bar-mobile:not(:focus) {
  @apply pl-[40px];
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.625em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown:hover .dropdown-menu {
  @apply block z-10 bg-white transition duration-300 ease-in-out rounded;
  box-shadow: 0 2px 4px 0 rgb(14 30 37 / 12%), 0 2px 16px 0 rgb(14 30 37 / 32%);
}

.trending .card,
.flash-sale .card {
  background-color: white;
  filter: drop-shadow(0px 3.5px 4px rgba(0, 0, 0, 0.131556)) !important;
}

.flash-sale-bg {
  background: linear-gradient(225.66deg, #ffaa5d -30.42%, #f63c3c 91.94%);
}

.flash-sale-bg li:nth-child(2) p::before,
.flash-sale-bg li:nth-child(2) p::after {
  content: ':';
  padding: 6px 7px;
}
